<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    
    <title>Rider</title>
  </head>
  <body>
    <main class="container mt-5">
      <%- include("./partials/flash") %>
        <a href="/rider/logout" class="btn btn-danger" style = "margin-left: 80%;">Logout</a>
        <h2>Want to take a journey ??</h2>
        <div class="custom-control custom-switch">
            <input   type="checkbox" class="custom-control-input" id="customSwitches">
            <label class="custom-control-label" for="customSwitches">Yes</label>
          </div>
          <form method="GET" class="coordinates d-none">
          Current X coordinate <input required  class="form-control"  type="number" name="ride[curr-xcoordinate]" >
          Current Y coordinate <input required  class="form-control" type="number" name="ride[curr-ycoordinate]" >

          Destination X coordinate <input required  class="form-control" type="number" name="ride[dest-xcoordinate]" >
          Destination Y coordinate <input required  class="form-control" type="number" name="ride[dest-ycoordinate]" >
          <button class="btn btn-primary mt-4">Find nearby Cabs</button>
          </form>

          <a href="/">Back to home</a>

          <% if(wantToRide){%> 
            <h2>Results</h2>
            <div class="row">
                <% for(cab of cabs) { %> 
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                         
                          <div class="card-body">
                            <p class="card-text"> Name: <%= cab.username %> <br>
                            Cab Number : <%= cab.cab_number %>  <br>
                            Current Location : <%= cab.coordinates.x + " " + cab.coordinates.y %> 
                            
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                <a href="/rider/<%= id %>/driver/<%= cab._id %>" type="button" class="btn btn-sm btn-outline-secondary">Order it</a>
                             
                              </div>
                           
                            </div>
                          </div>
                        </div>
                      </div>
                    <% } %> 
                
            </div>

            <% } %> 
          

     
     
  </main>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
    <script src="/rider.js"></script>
  </body>
</html>